{% extends 'base.html' %}

{% block title %} Jeansoft | Software & Tech Services {% endblock %}

{% block body %}
<!-- Hero section -->
<div class="relative mx-auto px-4 pt-16 sm:max-w-xl md:max-w-full md:px-8 lg:py-32 xl:px-20">
  <div class="relative z-10 mx-auto mb-16 flex flex-col items-center text-center lg:mb-0 lg:max-w-lg">
    <div class="mb-6 max-w-xl">
      <div>
        <h2 class="semiline">introducing jeansoft</h2>
      </div>
      <h2 class="mb-6 max-w-lg font-sans text-3xl font-bold tracking-tight sm:text-4xl">
        Expand your idea with our<br/>
        <span class="inline-block text-purple-600">business class solutions</span>
      </h2>
      <p class="text-base font-semibold text-gray-700 md:text-base">Unleash the full potential of your ideas with our cutting-edge SaaS solutions. Empower your business with our top-of-the-line tools and unlock unlimited possibilities for growth and success.</p>
    </div>
    <div class="flex items-center mb-16">
      <a href="#" class="mr-6 inline-flex h-12 items-center justify-center rounded bg-purple-600 px-6 font-medium tracking-wide text-white shadow-md outline-none transition duration-200 hover:bg-purple-900 focus:ring"> Get started </a>
      <a href="{% url 'project_list' %}" aria-label="" class="inline-flex items-center font-semibold text-purple-600 transition-colors duration-200 hover:text-purple-900">Learn more →</a>
    </div>
  </div>
  <div class="absolute inset-0 w-full h-full opacity-50 bg-cover bg-center z-0" style="background-image: url('https://i.postimg.cc/YSbCcBZP/image.png');"></div>
</div>
<!-- End hero section -->

<!--Logo section-->
<div class="bg-white py-16 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">We use trending tech to make your idea a success</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://i.postimg.cc/15Z5vV0W/django.png" alt="Django" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://i.postimg.cc/FH4pFpyj/spring.png" alt="Spring" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://i.postimg.cc/t4qRj0MW/dotnet.png" alt=".NET framework" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://i.postimg.cc/59z25SzY/reactjs.png" alt="React" width="158" height="48">
      <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://i.postimg.cc/mk7ZbT4N/wordpress.png" alt="Wordpress" width="158" height="48">
    </div>
  </div>
</div>
<!--End Logo section-->

<!--About section-->
<section>
  <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-16 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt="Jeansoft about"
            src="https://i.postimg.cc/3Rz4QX6V/Jeansoft-Mockup.png"
            class="absolute inset-0 h-full w-full object-cover rounded-xl"
          />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="semiline">who are we?</h2>
          <h2 class="mb-6 max-w-lg font-sans text-3xl font-bold tracking-tight sm:text-4xl">
            Work with
            <span class="inline-block text-purple-600">us!</span>
          </h2>

          <p class="mt-4 text-gray-600 font-semibold text-justify">
            We provide software and tech services that specializes in creating custom solutions for 
            various industries and domains. We're a family of talented and qualified developers 
            who can handle any project, big or small, from start to finish. We use the best 
            practices and methodologies to ensure that your software is of high quality, performance, and reliability. 
            We also provide ongoing support and updates to keep your software up to date and secure. 
            Whether you need a web app, a mobile app, a desktop app, or a cloud-based app, we can make it happen. 
            Let us turn your ideas into reality.
          </p> <br>
          <a href="{% url 'project_list' %}" aria-label="" class="inline-flex items-center font-semibold text-purple-600 transition-colors duration-200 hover:text-purple-900">View portfolio →</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End about section-->

<!--Feature section-->
<div class="overflow-hidden bg-white py-16 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <p class="semiline">deploy faster</p>
            <h2 class="mb-6 max-w-lg font-sans text-3xl font-bold tracking-tight sm:text-4xl">
                Boost business productivity <br />
                with our
                <span class="inline-block text-purple-600">software solutions</span>
              </h2>
            <p class="mt-6 text-lg font-semibold leading-8 text-gray-900">Whether you need a cloud-based platform, a mobile app, a web application or a custom solution, we have the expertise and experience to deliver it.</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-purple-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-purple-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M11.983 1.907a.75.75 0 00-1.292-.657l-8.5 9.5A.75.75 0 002.75 12h6.572l-1.305 6.093a.75.75 0 001.292.657l8.5-9.5A.75.75 0 0017.25 8h-6.572l1.305-6.093z" />
                  </svg>
                  Custom made apps:
                </dt>
                <dd class="inline font-semibold">We build apps that match to your requirements with using latest frontend and backend technologies.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-purple-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-purple-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z" />
                  </svg>
                  SEO services:
                </dt>
                <dd class="inline font-semibold">Optimize your solutions to search engines with latest AI based tools and technics.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-purple-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-purple-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M3.505 2.365A41.369 41.369 0 019 2c1.863 0 3.697.124 5.495.365 1.247.167 2.18 1.108 2.435 2.268a4.45 4.45 0 00-.577-.069 43.141 43.141 0 00-4.706 0C9.229 4.696 7.5 6.727 7.5 8.998v2.24c0 1.413.67 2.735 1.76 3.562l-2.98 2.98A.75.75 0 015 17.25v-3.443c-.501-.048-1-.106-1.495-.172C2.033 13.438 1 12.162 1 10.72V5.28c0-1.441 1.033-2.717 2.505-2.914z" />
                    <path d="M14 6c-.762 0-1.52.02-2.271.062C10.157 6.148 9 7.472 9 8.998v2.24c0 1.519 1.147 2.839 2.71 2.935.214.013.428.024.642.034.2.009.385.09.518.224l2.35 2.35a.75.75 0 001.28-.531v-2.07c1.453-.195 2.5-1.463 2.5-2.915V8.998c0-1.526-1.157-2.85-2.729-2.936A41.645 41.645 0 0014 6z" />
                  </svg>
                  Continues support:
                </dt>
                <dd class="inline font-semibold">24/7 support on project progress and after service assistance with support.</dd>
              </div>
            </dl>
          </div>
        </div>
        <img src="https://i.postimg.cc/vH01F9nh/jeansoft-bg.png" alt="Our services" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
      </div>
    </div>
  </div>  
<!--End feature section-->
{% endblock %}